<table class="profile" summary="Profile information">
    <tr>
        <td class="main">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.full_name %>
            </h1>
        </td>
        <td class="sidebar round">
            Nome: <strong><%= @user.name %></strong><br/>
            Cognome: <strong><%= @user.surname %></strong><br/>
            Nickname: <strong><%= @user.nickname %></strong><br/>
            URL:  <%= link_to user_path(@user), @user %>
        <td/>
</table>